pillow
django

# NOT USED ####
# -e git+https://github.com/ixc/elementtree.git@1.2.6#egg=elementtree
# -e git://github.com/point97/madrona@no-mapnik#egg=madrona

# MAY NOT BE NEEDED ####
# grequests
# lxml

# Deps from both MP projects that don't seem useful ###
# simplejson
# gunicorn

# Deps from both MP projects ####
django-tastypie
django-extensions
django-flatblocks
-e git+https://github.com/Ecotrust/madrona@py3#egg=madrona
django-redis
querystring-parser
httplib2
requests
django-proxy
MapProxy
eventlet
ipython
python-social-auth

# Added From Compass Rebuild ####
geopy
# django-tinymce
# django-wysiwyg

# Added during WCODP Rebuild ####
django-compressor
django-registration
psycopg2-binary
social-auth-app-django
django-mptt
django_mptt_admin
django-cache-machine
django-celery
